.banner-image img {
    width: 100%;
    height: 30vh;
}

.image-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow-x: hidden;
    gap: 10px;

    scroll-behavior: auto;
}

/* overflow-x: hidden;
  white-space: nowrap; / */

.image-banner img {
    height: 32vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.image-slide {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.active {
    transform: translateX(0);
}

/* BannerImage.css */